/* GLOBAL STYLES */
body {
  background-color: rgb(5, 17, 34);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 1px 0 8px rgba(0, 0, 10, 0.9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(100, 255, 218, 0.5);
}

/* Navigation */

.navbar-collapse {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400;
}

.navbar-toggler-icon {
  padding-top: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,255,218, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h20M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav {
  margin-left: auto;
}

#logo {
  width: 60px;
}
.nav-link {
  color: #c0c2c9;
  margin: 10px;
}

.nav-link:hover {
  color: #64ffda;
}

.nav-link:active {
  border: 1px dashed rgb(100, 255, 218);
}

.navNum {
  color: #64ffda;
}

.resume {
  border: 1px solid #64ffda;
  border-radius: 5px;
  padding: 10px;
  color: #64ffda;
}

.resume:hover {
  transition: all 0.2s ease-in;
  background-color: rgba(0, 205, 172, 0.3);
}

.resume:active {
  border: 1px dashed #64ffda;
}

#hero {
  height: 100vh;
}

.hero {
  margin: 20vh auto;
}

.heroP {
  color: #c0c2c9;
  max-width: 600px;
  padding: 5px 0;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 10px 0;
  color: #64ffda;
  letter-spacing: 1.2;
}

.title-intro {
  color: #c0c2c9;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.text-color-main {
  color: rgba(192, 194, 201, 0.747);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.theme-btn {
  background-color: transparent;
  color: #64ffda;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, #02aab0, #64ffda);
  border-image: linear-gradient(135deg, #02aab0, #64ffda);
  border-image-slice: 1;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}
.theme-btn:hover {
  background-image: linear-gradient(135deg, #02aab0, #64ffda);
  border-radius: 0;
  color: white;
  transition: all 0.3s ease-in;
}
.theme-btn:active {
  background-color: transparent;
}
.social-icons {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: inline-block;
  padding: 0;
}

.social-icons li a {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: #c0c2c9;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 13px;
  margin: 5px 0;
  letter-spacing: 0.1em;
}

.social-icons:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #c0c2c9;
}

.social-icons li a:hover {
  color: #64ffda;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.social-icons li a:active {
  color: #64ffda;
  border: 1px dashed #64ffda;
}

.social-icons-wrapper {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
}

.fa-github,
.fa-linkedin {
  font-size: 1.3rem;
}

.sectionNum {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 5px;
  font-weight: 500;
  color: rgb(100, 255, 218);
}

/* ABOUT SECTION */
#about {
  background-color: rgba(100, 255, 218, 0.6);
  color: white;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding-bottom: 15%;
  max-width: 1100px;
  margin: 0 auto;
}

#about h1 {
  color: white;
  display: inline-block;
  margin-bottom: 2.5rem;
}

#about .container {
  max-width: 1000px;
}

#profilePic {
  max-height: 55vh;
  border-radius: 5px;
  box-shadow: 25px 25px #64ffda;
}

.about-wrapper__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper__info {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.about-wrapper__info-text {
  width: 85%;
  margin: 0 auto;
  padding: 5px 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.about-wrapper {
  position: relative;
}

/* EXPERIENCE SECTION */

.experience {
  padding: 10% 0;
}
.vertical-timeline {
  margin-top: 50px;
}

.technologies {
  margin-top: 20px;
  padding: 0;
}

.vertical-timeline-element-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.vertical-timeline-element-subtitle {
  font-size: 1rem;
  margin-top: 5px;
  font-weight: 300;
}

.badge {
  border: 1px solid white;
  margin: 0 5px;
  font-weight: 500;
}

.vertical-timeline-element-icon {
  font-size: 1.4rem;
}

/* WORK SECTION */
.work,
.experience,
#contact {
  max-width: 1000px;
  margin: 10vh auto;
}

.workImage {
  width: 600px;
  position: absolute;
  opacity: 0.3;
}

.workImage:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
  opacity: 1;
  position: relative;
  margin: 20px auto;
}

.sectionTitle {
  display: inline-block;
  font-weight: 700;
  margin-top: 50px;
  color: #c0c2c9;
  font-size: 2rem;
}

.subtitle {
  color: #64ffda;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 14px;
}

.projectTitle {
  color: #c0c2c9;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 10px;
}

.projMain {
  margin: 10vh auto;
}

.projDescription {
  margin-top: 2rem;
  max-width: 500px;
  font-weight: 300;
  font-size: 16px;
}

.project-content {
  background-color: #020c1bd3;
  box-shadow: 0 10px 30px -15px rgba(100, 255, 218, 0.7);
  padding: 4.5rem 2rem;
}

.projectP {
  color: #c0c2c9;
}

.emphasis {
  color: #64ffda;
}

.fa-caret-right {
  margin-right: 5px;
}

.techList {
  list-style: none;
  display: inline;
  padding: 0;
  max-width: 500px;
}

.techList li {
  color: #c0c2c9;
  margin-right: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 300;
  display: inline;
  width: 100%;
}

.projLinks {
  position: relative;
  margin-top: 1.5rem;
}

.fa-external-link-alt,
.linksIcon {
  color: #64ffda;
  font-size: 1.2rem;
  display: block;
}

.notable {
  text-align: center;
  color: #c0c2c9;
  font-weight: 700;
  font-size: 2.5rem;
}

.otherProjs {
  margin: 40px auto;
  justify-content: space-between;
}

.otherCol {
  background-color: #020c1bd3;
  padding: 50px 25px;
  width: 31%;
  border-radius: 5px;
  box-shadow: 10px 10px #64ffda;
}

.otherTitle {
  color: #c0c2c9;
  font-size: 1.2rem;
  margin-top: -5px;
}

.otherFlag {
  color: #64ffda;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.volunteer-desc{
  color: #c0c2c9;
  padding-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.other-tech-list{
  list-style-type: none;
  color: #c0c2c9;
  padding: 0;
  display: inline;
}

.other-tech-list li{
  display: inline-flex;
  margin-right: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

.other-tech{
  margin-bottom: 10px;
  padding-bottom: 1rem;
}

.otherProjLinks a{
  color: #64ffda;
}

/* CONTACT SECTION */
.contact-wrapper__info-text {
  color: #c0c2c9;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  text-align: center;
  padding: 2rem 1rem;
  line-height: 1.75;
}

.contact-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

#contact {
  margin: 45vh auto;
}

.contact-wrapper a {
  color: #64ffda;
  text-decoration: none;
}

/* FOOTER */
.copyright {
  color: #c0c2c9;
  padding: 5px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .hero-title {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }

  .hero-cta {
    margin: 0 auto;
    text-align: center;
  }

  #hero {
    padding: 0 1rem;
  }

  .social-icons-wrapper,
  .social-icons {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 760px) {
}

@media only screen and (max-width: 1000px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
  .hero {
    padding-left: 5vw;
  }

  .hero-title {
    font-size: 3.5rem;
  }
}
